body {
  background: #12343b;
  color: #fff5d7;
}
div.recipelist,
h1 {
  text-align: center;
}

div.recipelist {
  font-size: 22px;
}

h1.center {
  padding: 0px;
  border-style: solid;
  border-color: #2d545e;
  text-align: center;
  background-color: #c89666;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h3.subheading {
  text-align: left;
}

h3.subheading.center {
  text-align: center;
}
